<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.PurchaseListGoodsDao">

    <resultMap id="listResultMap" type="com.atguigu.jxc.entity.PurchaseList">
        <id column="purchase_list_id" property="purchaseListId" jdbcType="INTEGER" />
        <result column="purchase_number" property="purchaseNumber" jdbcType="VARCHAR" />
        <result column="amount_paid" property="amountPaid" jdbcType="FLOAT" />
        <result column="amount_payable" property="amountPayable" jdbcType="FLOAT" />
        <result column="purchase_date" property="purchaseDate" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="listResultMap">
        SELECT
        p.purchase_list_id,
        p.amount_paid,
        p.amount_payable,
        p.purchase_date,
        p.remarks,
        p.state,
        p.user_id,
        u.true_name,
        s.supplier_name
        from
        t_purchase_list p
        LEFT JOIN
        t_user u
        on
        p.user_id=u.user_id
        LEFT JOIN
        t_supplier s
        on
        p.supplier_id=s.supplier_id
        <where>
            <if test="supplierId != null ">
                p.supplier_id = #{supplierId}
            </if>
            <if test="purchaseNumber != null and purchaseNumber != ''">
                and p.purchase_list_id LIKE CONCAT('%',#{purchaseNumber},'%')
            </if>
            <if test="state != null">
                and  p.state=#{state}
            </if>
            <if test="sTime != null and sTime != ''">
                and p.purchase_date &gt;= #{sTime}
            </if>
            <if test="eTime != null and eTime != ''">
                and p.purchase_date &lt;= #{eTime}
            </if>
        </where>
    </select>

    <update id="updateState" parameterType="integer">
        UPDATE t_purchase_list
        SET t_purchase_list.state=1
        WHERE t_purchase_list.purchase_list_id=#{purchaseListId}
    </update>

    <resultMap id="countResultMap" type="com.atguigu.jxc.domain.PurchaseVo">
        <result column="purchase_num" property="number" jdbcType="VARCHAR"/>
        <result column="purchase_date" property="date" jdbcType="VARCHAR" />
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
        <result column="goods_code" property="code" jdbcType="VARCHAR" />
        <result column="goods_name" property="name" jdbcType="VARCHAR" />
        <result column="goods_model" property="model" jdbcType="VARCHAR" />
        <result column="goods_type_name" property="goodsType" jdbcType="VARCHAR" />
        <result column="goods_unit" property="unit" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="FLOAT" />
        <result column="goods_num" property="num" jdbcType="INTEGER" />
        <result column="total" property="total" jdbcType="FLOAT" />
    </resultMap>

    <select id="count" resultMap="countResultMap">
        SELECT p2.purchase_number,p2.purchase_date,s.supplier_name,p.goods_code,p.goods_name,p.goods_model,g.goods_type_name,p.goods_unit,p.price,p.goods_num,p.total
        FROM t_purchase_list_goods p
        LEFT JOIN t_purchase_list p2
        ON p.purchase_list_id = p2.purchase_list_id
        LEFT JOIN t_goods_type g
        ON p.goods_type_id = g.goods_type_id
        LEFT JOIN t_supplier s
        ON p2.`supplier_id` = s.`supplier_id`
        <where>
            <if test="sTime != null and sTime != ''">
                AND p2.purchase_date &gt;= #{sTime}
            </if>
            <if test="eTime != null and eTime != ''">
                AND p2.purchase_date &lt;= #{eTime}
            </if>
            <if test="goodsTypeId != null and goodsTypeId != ''">
                AND g.goods_type_id = #{goodsTypeId}
            </if>
            <if test="codeOrName != null and codeOrName != ''">
                AND p.goods_name = #{codeOrName}
                or p.goods_code = #{codeOrName}
            </if>
        </where>
    </select>
</mapper>


























