<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.SaleListGoodsDao">
    <insert id="saveSaleList" useGeneratedKeys="true" keyProperty="saleListId" parameterType="com.atguigu.jxc.entity.SaleList">
        INSERT INTO t_sale_list
        (
            sale_number, amount_paid,amount_payable,sale_date, state,remarks,customer_id, user_id
        )
        VALUES
        (
            #{saleNumber}, #{amountPaid},#{amountPayable},#{saleDate},#{state}, #{remarks},#{customerId},#{userId}
        )
    </insert>
    <insert id="saveSaleListGoods" useGeneratedKeys="true" keyProperty="saleListGoodsId" parameterType="com.atguigu.jxc.entity.SaleListGoods">
        INSERT INTO t_sale_list_goods
        (
            goods_id, goods_code, goods_name, goods_model, goods_unit,
            goods_num, price, total, sale_list_id, goods_type_id
        )
        VALUES
        (
            #{goodsId}, #{goodsCode}, #{goodsName}, #{goodsModel}, #{goodsUnit},
            #{goodsNum}, #{price}, #{total}, #{saleListId}, #{goodsTypeId}
        )
    </insert>
</mapper>